/* line 1, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/enzo/Desktop/icteval/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 17, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
body {
  overflow: hidden !important;
  margin: 0 0 0 0;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 26, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
#landing {
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/bg2.jpg");
  background-color: black;
}

/* line 33, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.logo {
  height: 18vh;
  margin-top: 1vh;
}

/* line 37, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
#titlesec {
  height: 6vh;
  padding: 1.5vh;
  background-color: #212121;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 4vh;
}

/* line 46, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
#bodysec {
  height: 64vh;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: white;
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 4vh;
}

/* line 57, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
#footer {
  height: 5vh;
  background-color: #212121;
}

/* line 61, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 66, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.signinfont {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* line 71, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  display: none;
}

/* line 77, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
#error_explanation {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 16px;
}

/* line 83, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.dashtext {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 20px;
}

/* line 89, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.dashtext1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 18px;
}

/* line 95, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
.numtext {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px !important;
  line-height: 16px;
}

/**DESKTOP**/
@media (min-width: 44em) and (orientation: landscape) {
  /* For big*/
  /* line 103, /home/enzo/Desktop/icteval/app/assets/stylesheets/application.css.scss */
  #landing {
    height: 20vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/bg2.jpg");
  }
}
