<section style="border:#424242 1px solid;min-height:85%;margin-top:0px;padding-bottom:8px;">
	<center>
	<span class="dashtext1">Games Played - <%= current_user.email %></span>
	<br>
	<span class="numtext">1 2 3 4</span>
	<br>
	<span class="dashtext1">Website Go</span><br>
	<span class="numtext">1 2 3 4 5</span>
	<br>
	<span class="dashtext1">Sponsors Go</span><br>
	<span class="numtext">1 2 3 4 5</span>
	<br>
	<span class="dashtext1">Summit Go</span><br>
	<span class="numtext">1 2 3 4 5</span>
	<br>
	<span class="dashtext1">CIO Go</span><br>
	<span class="numtext">1 2 3 4 5 6 7 8</span> <br><span class="numtext">
	9 10 11 12 13 14 15 16</span>

	</center>
</section>